---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a researcher specializing in the intersection of HCI and healthcare, I focus on enhancing public health through multi-modal interactive technologies, including conversational agents, virtual and augmented reality, and mobile and web applications. I have served as a research assistant in the Relational Agents Group at Northeastern University and am currently a PhD student in Computer Science at the University of Waterloo supervising by Dr. Jim Wallace and Dr. Keiko Katsuragawa .
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="University of Waterloo, Doctor of Philosophy in Computer Science"
      subtitle="Started in [2024.9] at [Waterloo], [Ontario], [Canada]"
    />
    <TimeLineElement
      title="Northeastern University, Master of Computer Science"
      subtitle="[2022.9] to [2024.8] at [Boston], [Massachusetts], [United States] // GPA: 3.93"
    />
    <TimeLineElement
      title="University of Southern California, Master of Laws with Graduate Certificate in Technology and Entrepreneurship Laws"
      subtitle="[2021.8] to [2022.5] at [Los Angeles], [California], [United States] // Merit-based Scholarship $8000"
    />
    <TimeLineElement
      title="Durham University, Bachelor of Laws"
      subtitle="[2017.10] to [2020.8] at [College of St Hild and St Bede], [Durham], [United Kingdom]"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Graduate Teaching Assistant"
      subtitle="From 2024.9, at University of Waterloo, Waterloo, Ontario, Canada"
    >
    <ul  class="list-disc mx-6 mb-10 grid gap-2">
    <li>2025.5 - CS 348 Introduction to Database Systems: <br />
        - Coaching teams on full-stack application development, advising on modern stacks including React frontends and Node.js or FastAPI backends to ensure efficient delivery of tested projects.
</li>
    <br/>
    <li>2025.1 - 2025.4 CS 431/631 Data-Intensive Distributed Computing: <br/>
        - Provided individualized grading decisions for over 20+ variants of student answers for information retrieval questions involving TF-IDF, n-grams, and inverted index design, applying consistent evaluation of technical correctness and conceptual clarity.
        <br/> - Assessed student understanding of search engine optimization techniques, such as posting list sorting and binary search optimizations, based on document ID ordering.
        <br/> - Evaluated students’ ability to articulate trade-offs of inverted index sorting schemes for efficient retrieval, distributed processing, and MapReduce-style architectures.
</li>
    <br />
    <li>2024.9 - 2024.12 CS 115 Introduction to Computer Science 1: <br/>
      - Graded assignments, midterms, and exams for over 100 students in CS 115, a foundational computer science course, ensuring fair and accurate evaluations of students' understanding of functional programming in Dr. Racket by developing a detailed grading workflow aligned with course rubrics and providing constructive feedback, resulting in improved student performance and consistent grading practices.</li>
    </ul>
      
    </TimeLineElement>
    <TimeLineElement
      title="Graduate Research Assistant"
      subtitle="From 2024.9,  at HCI and Health Lab, University of Waterloo, Waterloo, Ontario, Canada"
    >
    <ul  class="list-disc mx-6 mb-10 grid gap-2">
    <li>Collaborated on an Expert-By-Experience (EBE) study and co-design workshop to gather insights and refine concepts for technologies that facilitate aging in place.</li>
    <li>Developed usage scenarios and personas to propose and evaluate ideas, ensuring practical and user-centered design solutions.</li>
    <li>Leading end-to-end development of a family-engagement Android app, from product design and UI/UX to a stable, Firebase-backed implementation, successfully tested with users.</li>
    </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Graduate Research Assistant"
      subtitle="From 2023.4 to 2024.6 at Relational Agents Group, Northeastern University, Boston, Massachusetts, USA"
    >
      <ul  class="list-disc mx-6 mb-10 grid gap-2">
    <li>Conducted comprehensive data analysis for the SCC smartphone app, identifying user behavior trends and insights from a dataset involving over 500 participants, contributing to public health initiatives promoting vaccination and healthy lifestyles.</li>
    <li>Designed and executed a pain assessment study, including data collection, analysis, and iterative feedback, which resulted in a published paper and informed design recommendations for healthcare applications.</li>
    <li>Performed empirical studies with strict adherence to research protocols, enabling the collection of high-quality, user-centric data to inform the development of health-focused conversational agents.</li>
    <li>Collaborated with interdisciplinary teams to prototype and refine interactive technologies, enhancing user engagement and addressing usability challenges in healthcare and wellness applications.</li>
    <li>Tested and troubleshot user interfaces and applications, systematically identifying usability issues and implementing solutions to optimize user experience.</li>
    <li>Maintained meticulous records and documentation of research findings, contributing to data-driven decision-making for HCI-focused projects.</li>
    </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.citiprogram.org/verify/?wef39d6dc-34b4-43bb-bcdc-da6e200d1f9b-55762665" target="_blank"> Social and Behavioral Responsible Conduct of Research</a>
    </li>
    <li>
      <a href="#" target="_blank"> Tri-Council Policy Statement: Ethical Conduct for Research Involving Humans </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Human-Computer Interaction</li>
    <li>User-Centered Design</li>
    <li>Interface Design</li>
    <li>Python</li>
    <li>Java</li>
    <li>C</li>
    <li>SQL</li>
    <li>Unity</li>
    <li>C#</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>React</li>
    <li>Node.js</li>
    <li>Prototyping: Figma</li>
    <li>Web Development</li>
    <li>Mobile App Development</li>
  </ul>
</BaseLayout>
