---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Christina (Zixi) Li</div>
    <div class="text-3xl py-3 font-bold">Phd Student @ University of Waterloo</div>
    <div class="py-2">
      <text class="text-lg">
      I am a researcher specializing in the intersection of HCI and healthcare, I focus on enhancing public health through multi-modal interactive technologies, including conversational agents, virtual and augmented reality, and mobile and web applications. I have served as a research assistant in the Relational Agents Group at Northeastern University and am currently a PhD student in Computer Science at the University of Waterloo supervising by <i>Dr. Jim Wallace </i> and <i> Dr. Keiko Katsuragawa </i>.
      </text>
    </div>
    <br />
  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Pain Assessment"
    img="/PAS.webp"
    desc="Embodied Conversational Agents—animated characters that simulate face-to-face conversation—can provide a medium for automated pain assessment in which multimodal pain narratives are elicited, clarifed, and grounded. These agents can also use facial displays and nonverbal behavior to provide simulated empathic responses to help patients feel understood."
    url="https://dl.acm.org/doi/pdf/10.1145/3610661.3617132"
    badge="Publication"
  />
  <div class="divider my-0"></div>
 
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
