---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Publications</div>
  </div>

  <HorizontalCard
    title="Pain Assessment"
    img="/PAS.webp"
    desc="Embodied Conversational Agents—animated characters that simulate face-to-face conversation—can provide a medium for automated pain assessment in which multimodal pain narratives are elicited, clarifed, and grounded. These agents can also use facial displays and nonverbal behavior to provide simulated empathic responses to help patients feel understood."
    url="https://dl.acm.org/doi/pdf/10.1145/3610661.3617132"
    badge="ICMI '23 Companion"
  />
  <div class="divider my-0"></div>
  
</BaseLayout>
